/*
======================
Reset
======================
*/
:root {
    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
    --blue: rgb(56, 10, 223);
    --padding-container: 100px 0;
    --color-btn: #444CF7;
    --padding-btn: 20px 35px;
    --text-btn: #fff;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
  
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
body,
input {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    color: var(--black);
}
  
a {
    text-decoration: none;
}
  
ul {
    list-style: none;
}
  
img {
    max-width: 100%;
}
  
h3,
h4 {
    font-weight: 500;
}



/*
======================
Header
======================
*/
.header {
    width: 100%;
    position: relative;
}
  
.container {
  max-width: 320rem;
  margin: 0 auto;
  padding: 3 1.6rem;
  border-radius: 10px;
  width: 100%;
}


/*
======================
Navigation
======================
*/
.navigation {
    position: relative;
    height: 7rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    background-color: #000;
}
  
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    height: 7rem;
    padding: 0 1rem;
}

.nav__logo img {
  width: 100%;
  max-width: 100px;
}

.menu__top {
  display: none;
}

.nav__menu {
  width: 20%;
}

.nav__list {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

.nav_item{
    align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 1.6rem;
}

.nav__item a{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  align-items: center;
  
  color: white;
}

.nav__list .nav__link:link,
.nav__list .nav__link:visited {
  display: inline-block;
  font-size: 16px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav__list .nav__link:hover {
  color: #252525;
}

/*
======================
Navigation Media Query
======================
*/
@media only screen and (max-width: 768px) {
  .nav__list {
    flex-direction: column;
    align-items: start;
    padding: 0.1rem 1rem;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .nav__item {
    width: 100%;
  }

  .nav__list .nav__link:link,
  .nav__list .nav__link:visited {
    padding: 0.1rem 0;
    width: 100%;
  }
}


/*
======================
Contacto
======================
*/
.contenedors{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    margin-top: 150px;
    margin-bottom: 400px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.contenedors > div{
    padding: 20px;
    border-radius: 4px;
}

.btn-whatsapp{
  margin: 20px auto;
  background: #000;
  border-radius: 5px;
  border: none;
  width: 200px;
  height: 40px;
  color: #fff;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
}

.btn-whatsapp:hover{
  transition: all .3s;
  border: solid .1rem var(--primaryColor);
}
