*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    align-items: center;
}

.weight-600{
    font-weight: 600;
}

.parrafo{
    margin-bottom: 20px;
}

.header{
    height: 500px;
}

.textos-hero{
    grid-column: 1/13;
    text-align: center;
    justify-content: center;
    padding-right: 20px;
}

.textos-hero p{
    text-align: center;
}

.cta{
    width: 130px;
    background: #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
}

/* HEADER */

.services{
    height: 370px;
    background: linear-gradient(180deg, #fff 50%, #000 50%);
}

.items{
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    width: 30%;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 220px;
    padding: 20px 10px;
    text-align: center;
}

.item i{
    font-size: 50px;
    text-align: center;
}

.titulo-services{
    margin: 20px 0;
}

/* ABOUT */

.about-us{
    background: #000;
    color: #fff;
    height: auto;
    padding-bottom: 60px;
}

.textos-about-us{
    grid-column: 1/-1;
    text-align: center;
}

.textos-about-us .parrafo{
    margin-top: 10px;
    color: #ccc;
}

.numbers{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.number{
    text-align: center;
    font-size: 30px;
    width: 22%;
}

.number2{
    text-align: center;
    font-size: 18px;
    width: 22%;
}

/* MISION */

.mission{
    padding: 20px 0;
}

.textos-mission{
    height: 100%;
    max-height: 600px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.textos-mission h2{
    grid-column: span 3;
    grid-row: 1 / 2;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.textos-mission .texto-mission1{
    grid-column: 0 / 3;
    grid-row: 2 / 2;
    margin: auto;
}

.textos-mission .texto-mission2{
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    margin: auto;
}

.textos-mission .texto-mission3{
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    margin: auto;
}

.textos-mission .texto-mission1 h3{
    text-align: center;
    display: flex;
    justify-content: center;
}

.textos-mission .texto-mission2 h3{
    text-align: center;
    display: flex;
    justify-content: center;
}

.textos-mission .texto-mission3 h3{
    text-align: center;
    display: flex;
    justify-content: center;
}

.main-video{
    padding: 50px 0 ;
}

.main-video center video{
    width: 100%;
    max-width: 400px;
    align-items: left;
}




/*  Footer  */
footer{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}

.textos-footer{
    grid-column: 1/-1;
    margin-bottom: 30px;
}

[class^="footer-item"] a{
    color: #fff;
    font-size: 30px;
}

[class^="footer-item"]{
    grid-column: span 3;
}   

@media screen and (max-width:800px){
    .header{
        height: auto;
    }

    .grid{
        grid-gap: 30px;
    }

    .img-hero, .textos-hero{
        grid-column: 1/-1;
    }

    .img-hero{
        text-align: center;
    }

    .textos-hero{
        margin-top: 40px;
    }

    .services{
        height: auto;
        margin-top: 40px;
    }

    .item{
        width: 60%;
        margin: 40px 0;
        height: auto;
        padding: 40px;
    }

    .img-mission{
        grid-column: 1/-1;
        grid-row: 2/3;
        text-align: center;
    }

    .mission{
        height: auto;
        margin-top: 40px;
    }

    .textos-mission p{
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    .textos-mission{
       grid-row: span 2;
       display: block;
    }

    .texto-mission1{
        padding-top: 40px;
    }
}

@media screen and (max-width:400px){
    .img{
        max-width: 170px;
    }

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .item{
        width: 90%;
        flex-shrink: 0;
    }

    .number{
        width: 55%;
        border-bottom: 1px dotted #fff;
        margin-bottom: 20px;
        padding-bottom: 5px;        
    }

    .textos-mission h3{
        margin: 15px;
    }

    [class^="footer-item"]{
        grid-column: 1/-1;
    }
}

